:root {
  --background: #ffffff;
  --foreground: #000;
  --main: #F2F2F2;
}

.dark {
  --background: #202C36;
  --foreground: #fff;
  --main: #2B3844;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
}


.box-shadow{
  box-shadow: 10px 0px 10px #979797;
}